@using GameStore.WebUI.App_LocalResources.Localization
@model GameStore.WebUI.Models.OrderViewModel

@{
    ViewBag.Title = ViewsRes.OrderDetailsTitle;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_MessagePartial")

<fieldset>
    @if (Model.OrderDetailses.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>@ModelRes.GameGameKey</th>
                    <th>@ModelRes.OrderDetailsQuantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderDetailses)
                {
                    <tr>
                        <td>@item.Product.GameKey</td>
                        <td>@item.Quantity</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="info-message">@ViewsRes.OrderDetailsBasketEmpty</p>
    }


</fieldset>

@if (Model.OrderDetailses.Any())
{
    <p class="text-center">
        @Html.ActionLink(ViewsRes.LinkMakeOrder, "Make", null, new { @class = "button-small" })
        @Html.ActionLink(ViewsRes.LinkClear, "Clear", new { orderId = Model.OrderId }, new { @class = "button-small" })
    </p>
}
