@using GameStore.WebUI.App_LocalResources.Localization
@model GameStore.WebUI.Models.Account.ManageRoleViewModel

@{
    ViewBag.Title = ViewsRes.AccountManageRoleTitle;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Hidden("model.RoleId", Model.RoleId)
    @Html.Hidden("model.RoleName", Model.RoleName)

    <table class="table">
        <tr>
            <th class="editor-label">
                @Html.LabelFor(model => model.RoleName)
            </th>
            <th class="editor-field">
                @Html.DisplayFor(model => model.RoleName)
            </th>
        </tr>
    </table>

    <div id="claims">
        @Html.Action("AddClaim", "Account", new { number = 0 })
    </div>

    <p class="text-center">
        <a href="#" id="add-claim" data-url="@Url.Action("AddClaim","Account")" class="button-small">@ViewsRes.LinkAddNew</a> | <a href="#" id="delete-claim" class="button-small">@ViewsRes.LinkDelete</a>
    </p>


    <p>
        <input type="submit" value="@ViewsRes.LinkSave" />
    </p>
}


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/account")
}
