@using System.Security.Claims
@using GameStore.Infrastructure.Enums
@using GameStore.WebUI.App_LocalResources.Localization
@model GameStore.WebUI.Models.Account.UpdateUserViewModel

@{
    ViewBag.Title = "UpdateProfile";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>UpdateProfile</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.UserId)

    <table class="table">
        <tr>
            <td class="editor-label">
                @Html.LabelFor(model => model.UserName)
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(model => model.DateOfBirth)
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.DateOfBirth)
                @Html.ValidationMessageFor(model => model.DateOfBirth)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(model => model.Country)
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.Country)
                @Html.ValidationMessageFor(model => model.Country)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(model => model.Email)
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(model => model.PhoneNumber)
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </td>
        </tr>
        @if ((User.Identity as ClaimsIdentity).HasClaim(ClaimTypes.Role, DefaultRoles.Manager))
        {
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.NotificationMethod)
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(model => model.NotificationMethod, Model.NotificationMethodItems)
                    @Html.ValidationMessageFor(model => model.NotificationMethod)
                </td>
            </tr>
        }

    </table>
    <p>
        <input type="submit" value="@ViewsRes.LinkSave" />
    </p>
}


@section Scripts {

}
