@using GameStore.WebUI.App_LocalResources.Localization
@model GameStore.WebUI.Models.DisplayPublisherViewModel

@{
    ViewBag.Title = ViewsRes.PublisherDetailsTitle;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div class="add-link">
    @Html.ActionLink(ViewsRes.LinkUpdate, "Update", new { publisherId = Model.PublisherId })
 </div>
<table class="table">
    <tr>
        <th class="display-label">
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <td class="display-field">
            @Html.DisplayFor(model => model.CompanyName)
        </td>
    </tr>
    <tr>
        <th class="display-label">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <td class="display-field">
            @Html.DisplayFor(model => model.Description)
        </td>
    </tr>
    <tr>
        <th class="display-label">
            @Html.DisplayNameFor(model => model.HomePage)
        </th>
        <td class="display-field">
            @Html.DisplayFor(model => model.HomePage)
        </td>
    </tr>
</table>
@using (Html.BeginForm("Delete", "Publisher"))
{
    @Html.Hidden("publisherId", Model.PublisherId)
    <input type="submit" value="@ViewsRes.LinkDelete" />
}

