@model GameStore.WebUI.Models.OrderViewModel

@{
    ViewBag.Title = "Basket";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert">
        @TempData["ErrorMessage"]
    </div>
}

<fieldset>
    <table class="table">
        <thead>
        <tr>
            <th>Game key</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.OrderDetailses)
        {
            <tr>
                <td>@item.Product.GameKey</td>
                <td>@item.Quantity</td>
            </tr>
        }
        </tbody>
    </table>

</fieldset>

<p>
    @Html.ActionLink("Make order", "Make")
</p>
