@using GameStore.WebUI.App_LocalResources.Localization
@model GameStore.WebUI.Models.Account.ChangePasswordViewModel

@{
    ViewBag.Title = ViewsRes.AccountChangePasswordTitle;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table class="table">
        <tr>
            <td class="editor-label">
                @Html.LabelFor(model => model.OldPassword)
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.OldPassword)
                @Html.ValidationMessageFor(model => model.OldPassword)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(model => model.NewPassword)
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.NewPassword)
                @Html.ValidationMessageFor(model => model.NewPassword)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(model => model.NewPasswordRepeat)
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.NewPasswordRepeat)
                @Html.ValidationMessageFor(model => model.NewPasswordRepeat)
            </td>
        </tr>

        <p>
            <input type="submit" value="@ViewsRes.LinkSave" />
        </p>
    </table>
}


@section Scripts {
}
