@using GameStore.WebUI.App_LocalResources.Localization
@model GameStore.WebUI.Models.Account.DisplayUserViewModel

@{
    ViewBag.Title = ViewsRes.AccountDetailsTitle;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <td class="display-label">
            @Html.DisplayNameFor(model => model.UserName)
        </td>
        <td class="display-field">
            @Html.DisplayFor(model => model.UserName)
        </td>
    </tr>

    <tr>
        <td class="display-label">
            @Html.DisplayNameFor(model => model.Roles)
        </td>
        <td class="display-field">
            @foreach (var role in Model.Roles)
            {
                <span>@role</span>
            } 
        </td>
    </tr>
</table>
<p>
    @Html.ActionLink(ViewsRes.LinkChangePassword, "ChangePassword")
</p>
