@model GameStore.WebUI.Models.DisplayPublisherViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Details</h2>
@Html.ActionLink("Update", "Update", new { publisherId = Model.PublisherId }) 
<table class="table">
    <tr>
        <td class="display-label">
            @Html.DisplayNameFor(model => model.CompanyName)
        </td>
        <td class="display-field">
            @Html.DisplayFor(model => model.CompanyName)
        </td>
    </tr>
    <tr>
        <td class="display-label">
            @Html.DisplayNameFor(model => model.Description)
        </td>
        <td class="display-field">
            @Html.DisplayFor(model => model.Description)
        </td>
    </tr>
    <tr>
        <td class="display-label">
            @Html.DisplayNameFor(model => model.HomePage)
        </td>
        <td class="display-field">
            @Html.DisplayFor(model => model.HomePage)
        </td>
    </tr>
</table>
@using (Html.BeginForm("Delete", "Publisher"))
{
    @Html.Hidden("publisherId", Model.PublisherId)
    <input type="submit" value="Delete" />
}

