@model GameStore.WebUI.Models.DisplayPublisherViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Details</h2>

<table class="table">
    <tr>
        <td class="display-label">
            @Html.DisplayNameFor(model => model.CompanyName)
        </td>
        <td class="display-field">
            @Html.DisplayFor(model => model.CompanyName)
        </td>
    </tr>
    <tr>
        <td class="display-label">
            @Html.DisplayNameFor(model => model.Description)
        </td>
        <td class="display-field">
            @Html.DisplayFor(model => model.Description)
        </td>
    </tr>
    <tr>
        <td class="display-label">
            @Html.DisplayNameFor(model => model.HomePage)
        </td>
        <td class="display-field">
            @Html.DisplayFor(model => model.HomePage)
        </td>
    </tr>
</table>

