@model GameStore.WebUI.Models.DisplayGameViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<h2>@Model.GameName</h2>
<table class="table">

    <tr>
        <td class="display-label">
            @Html.DisplayNameFor(model => model.GameKey)
        </td>
        <td class="display-field">
            @Html.DisplayFor(model => model.GameKey)
        </td>
    </tr>
    <tr>
        <td class="display-label">
            @Html.DisplayNameFor(model => model.GameName)
        </td>
        <td class="display-field">
            @Html.DisplayFor(model => model.GameName)
        </td>
    </tr>
    <tr>
        <td class="display-label">
            @Html.DisplayNameFor(model => model.Description)
        </td>
        <td class="display-field">
            @Html.DisplayFor(model => model.Description)
        </td>
    </tr>
    <tr>
        <td class="display-label">
            @Html.DisplayNameFor(model => model.Price)
        </td>
        <td class="display-field">
            @Html.DisplayFor(model => model.Price)
        </td>
    </tr>
    <tr>
        <td class="display-label">
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </td>
        <td class="display-field">
            @Html.DisplayFor(model => model.UnitsInStock)
        </td>
    </tr>
    <tr>
        <td class="display-label">
            @Html.DisplayNameFor(model => model.Discontinued)
        </td>
        <td class="display-field">
            @Html.DisplayFor(model => model.Discontinued)
        </td>
    </tr>
</table>

<p>
    @Html.DisplayNameFor(model => model.Genres) :
    @foreach (var genre in Model.Genres)
    {
        <span>@genre.GenreName</span>
    }
</p>
<p>
    @Html.DisplayNameFor(model => model.PlatformTypes) :
    @foreach (var pt in Model.PlatformTypes)
    {
        <span>@pt.PlatformTypeName</span>
    }
</p>
<p>
    @Html.DisplayNameFor(model => model.Publisher) :
    @Html.ActionLink(Model.Publisher.CompanyName, "Details", "Publisher", new {companyName = Model.Publisher.CompanyName}, null)
</p>

<p>
    @using (Html.BeginForm("Delete", "Game"))
    {
        @Html.Hidden("gameId", Model.GameId)
        <input type="submit" value="Delete" />
    }
</p>

<p>
    @using (Html.BeginForm("Add", "Order"))
    {
        @Html.Hidden("gameKey", Model.GameKey)
        ;
        <span>Qauntity: </span>@Html.TextBox("quantity", 1, new {type = "number", min = 1, max = Model.UnitsInStock})
        ;
        <input type="submit" value="Buy"/>
    }
</p>

<p>
    @Html.ActionLink("Download", "Download", "Game", new{ gameKey=Model.GameKey}, new{ target="_blank"})
    @Html.ActionLink("Comments", "List", "Comment", new{gameKey = Model.GameKey}, null)
</p>
