@using GameStore.WebUI.Helpers
@model GameStore.WebUI.Models.FilteredGamesViewModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>List</h2>
<table class="table table-condensed">
    <tr>
        <th>Game key</th>
        <th>Game name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Units in stock</th>
        <th>Discontinued</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Games)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discontinued)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {gameKey = item.GameKey})
            </td>
        </tr>
    }

</table>


@Html.PaginationBuilder(Model.Filter.CurrentPage,Model.Filter.PageCount,"List", "Game")



@section LeftSideBar
{
    @using (Html.BeginForm("List", "Game"))
    {
        @Html.EditorFor(m => m.Filter,"FilteringViewModel", "filter")
        <p>
            <input type="submit" value="Filter" />
        </p>
    }
}

@section Scripts
{
    <script src="/Scripts/jquery-2.1.4.min.js"></script>
    <script src="/Scripts/Game/pagination.js"></script>
}
