@using GameStore.WebUI.App_LocalResources.Localization
@using GameStore.WebUI.Helpers;
@model GameStore.WebUI.Models.CommentViewModel

@{
    ViewBag.Title = ViewsRes.CommentIndexTitle;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>@ViewsRes.CommentIndexTitle</h2>

@Html.Partial("_MessagePartial")

<div class="comment-block">
    @Html.BuildCommentsTree(Model.Comments, ViewBag.GameKey as string)
</div>

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.GameKey)

        <table class="table">

            @Html.HiddenFor(m => m.NewComment.ParentCommentId)
            @Html.HiddenFor(m => m.NewComment.QuoteId)
            @Html.Hidden("gameKey", ViewBag.GameKey as string)
            @Html.HiddenFor(model => model.NewComment.User.UserId)
            @Html.HiddenFor(model => model.NewComment.User.UserName)
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.NewComment.User.UserName)
                </td>
                <td class="editor-field">
                    @Html.DisplayFor(model => model.NewComment.User.UserName)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.NewComment.Content)
                </td>
                <td class="editor-field">
                    @Html.TextAreaFor(model => model.NewComment.Content)
                    @Html.ValidationMessageFor(model => model.NewComment.Content)
                </td>
            </tr>

        </table>
    <p class="text-center">
        <input type="submit" value="@ViewsRes.LinkComment" class="link"/>
    </p>
    }
</div>

<div id="dialog" title="Confirmation required">
    @ViewsRes.CommentIndexDeleteModal
</div>


@section Scripts
{
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jquery-validate")
@Scripts.Render("~/bundles/jquery-ui")
@Scripts.Render("~/bundles/comment")

}

@section Styles
{
    @Styles.Render("~/jquery-ui/css")
}
