@using GameStore.WebUI.App_LocalResources.Localization
@model GameStore.WebUI.Models.ContentTransformationViewModel

@Html.Hidden("CurrentPage", Model.CurrentPage, new { id = "CurrentPage" })

<div class="filter-label">@Html.LabelFor(m => m.Genres)</div>
<div class="filter">
    @for (int i = 0; i < Model.GenreItems.Count; i++)
    {
        <div class="checkbox">
            <input id="@String.Concat("genre-", Model.GenreItems[i].Id)" type="checkbox" name="transformer.Genres" value="@Model.GenreItems[i].Id" />
            <label for="@String.Concat("genre-", Model.GenreItems[i].Id)">@Model.GenreItems[i].Text</label>
        </div>
    }
</div>

<div class="filter-label">@Html.LabelFor(m => m.PlatformTypes)</div>
<div class="filter">
    @for (int i = 0; i < Model.PlatformTypeItems.Count; i++)
    {
        <div class="checkbox">
            <input id="@String.Concat("platform-type-", Model.PlatformTypeItems[i].Id)" type="checkbox" name="transformer.PlatformTypes" value="@Model.PlatformTypeItems[i].Id" />
            <label for="@String.Concat("platform-type-", Model.PlatformTypeItems[i].Id)">@Model.PlatformTypeItems[i].Text</label>
        </div>
    }
</div>


<div class="filter-label">@Html.LabelFor(m => m.Publishers)</div>
<div class="filter">
    @for (int i = 0; i < Model.PublisherItems.Count; i++)
    {
        <div class="checkbox">
            <input id="@String.Concat("publisher-", Model.PublisherItems[i].Id)" type="checkbox" name="transformer.Publishers" value="@Model.PublisherItems[i].Id" />
            <label for="@String.Concat("publisher-", Model.PublisherItems[i].Id)">@Model.PublisherItems[i].Text</label>
        </div>
    }
</div>


<div class="filter-label">@Html.LabelFor(m => m.SortByItems)</div>
<div class="filter">
    @Html.DropDownListFor(m => m.SortBy, Model.SortByItems, "SortBy", new { value = @ModelRes.GameFilterSortByItems })
</div>

<div class="filter-label">@Html.LabelFor(m => m.PublishingDates)</div>
<div class="filter">
    @for (int i = 0; i < Model.PublishingDates.Count; i++)
    {
        @Html.EditorFor(m => Model.PublishingDates[i], "RadiobuttonViewModel", "PublishingDate", null)
    }
</div>

<div class="filter-label">@ViewsRes.FilteringViewModelPrice</div>
<div class="filter">
    <table>
        <tr>
            <td>@Html.DisplayNameFor(m => m.MinPrice)</td>
            <td>@Html.EditorFor(m => m.MinPrice)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(m => m.MaxPrice)</td>
            <td>@Html.EditorFor(m => m.MaxPrice)</td>
        </tr>
    </table>
</div>

<div class="filter-label">@Html.LabelFor(m => m.Name)</div>
<div class="filter">
    @Html.EditorFor(m => m.Name)
</div>

<div class="filter-label">@Html.LabelFor(m => m.ItemsPerPage)</div>
<div class="filter">
    @Html.DropDownList("ItemsPerPage", Model.ItemsPerPageList)
</div>



