@using GameStore.WebUI.App_LocalResources.Localization
@model IEnumerable<string>

@{
    ViewBag.Title = ViewsRes.UserBanTitle;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>@ViewsRes.UserBanDurations: </p>
@using (Html.BeginForm())
{
    Html.Hidden("userName", ViewBag.UserName as string);
    foreach (var item in Model)
    {
        @Html.RadioButton("duration", item); <span>@item</span>
    }
    <input type="submit" value="@ViewsRes.LinkBan"/>
}