@model GameStore.WebUI.Models.UpdateCommentViewModel

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Update</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.Hidden("gameKey", @ViewBag.GameKey as string)
    
    <fieldset>
        <legend>UpdateCommentViewModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CommentId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CommentId)
            @Html.ValidationMessageFor(model => model.CommentId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ParentCommentId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ParentCommentId)
            @Html.ValidationMessageFor(model => model.ParentCommentId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuoteId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuoteId)
            @Html.ValidationMessageFor(model => model.QuoteId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserId)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}


@section Scripts {

}
