@using GameStore.WebUI.App_LocalResources.Localization;


<div class="footer">
    <div class="copyright">
        <span>&copy; @ViewsRes.Footer_Copyright</span>
    </div>
    <div class="site-links">
        <strong>@ViewsRes.Footer_SiteLinks</strong>
        <ul>
            <li><a href="#">@ViewsRes.Footer_Home</a></li>
            <li><a href="#">@ViewsRes.Footer_Privacy</a></li>
            <li><a href="#">@ViewsRes.Footer_Help</a></li>
            <li><a href="#">@ViewsRes.Footer_PersonalFinance</a></li>
            <li><a href="#">@ViewsRes.Footer_SiteMap</a></li>
        </ul>
    </div>
    <div class="company-information">
        <strong>@ViewsRes.Footer_CompanyInformation</strong>
        <ul>
            <li><a href="#">@ViewsRes.Footer_About</a></li>
            <li><a href="#">@ViewsRes.Footer_Awards</a></li>
            <li><a href="#">@ViewsRes.Footer_Reviews</a></li>
            <li><a href="#">@ViewsRes.Footer_Contact</a></li>
        </ul>
    </div>
</div>