@using GameStore.WebUI.App_LocalResources.Localization;


<div class="social-line">
    <div class="social-wrapper">
        <div class="title"><i class="fa fa-envelope-o fa-2x"></i><span>@ViewsRes.SocialsGetInTouch</span></div>
        <div class="social-email">
            <form>
                <span>@ViewsRes.SocialName</span><input type="text" />
                <span>@ViewsRes.SocialEmail</span><input type="text" />
                <span>@ViewsRes.SocialMessage</span><textarea></textarea>

                <a href="#" class="social-button pull-right">@ViewsRes.LinkSend</a>
            </form>
        </div>
    </div>
    <div class="social-wrapper">
        <div class="title"><i class="fa fa-twitter fa-2x"></i></i><span>@ViewsRes.SocialsTwitter</span></div>
        <div class="social-twitter">
            <ul>
                <li>
                    <p>
                        Live from Apple's iPhone OS 4 event! - Engadget <a href="#">http://goo.gl/eJVm</a>
                    </p>
                    <p class="time">about 1 hour ago reply</p>
                </li>
                <li>
                    <p>
                        Live from Apple's iPhone OS 4 event! - Engadget <a href="#">http://goo.gl/eJVm</a>
                    </p>
                    <p class="time">about 1 hour ago reply</p>
                </li>
                <li>
                    <p>
                        Live from Apple's iPhone OS 4 event! - Engadget <a href="#">http://goo.gl/eJVm</a>
                    </p>
                    <p class="time">about 1 hour ago reply</p>
                </li>
            </ul>
            <a href="#" class="social-button pull-right">@ViewsRes.LinkFollowUs</a>
        </div>
    </div>
    <div class="social-wrapper">
        <div class="title"><i class="fa fa-rss-square fa-2x"></i></i><span>@ViewsRes.SocialsRss</span></div>
        <div class="social-rss">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
            <p>Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
            <p>Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt</p>
            <a href="#" class="social-button pull-right">@ViewsRes.LinkVisitBlog</a>
        </div>
    </div>
</div>