@using GameStore.WebUI.App_LocalResources.Localization;


<div class="social-line">
    <div>
        <div class="title"><i class="fa fa-envelope-o fa-2x"></i>@ViewsRes.SocialsGetInTouch</div>
        <div class="title"><i class="fa fa-twitter fa-2x"></i></i>@ViewsRes.SocialsTwitter</div>
        <div class="title"><i class="fa fa-rss-square fa-2x"></i></i>@ViewsRes.SocialsRss</div>
    </div>

    <div class="social-email">
        <form>
            @ViewsRes.SocialName
            <input type="text" />
            @ViewsRes.SocialEmail
            <input type="text" />
            @ViewsRes.SocialMessage
            <textarea></textarea>

            <a href="#" class="social-button pull-right">@ViewsRes.LinkSend</a>
        </form>
    </div>
    <div class="social-twitter">
        <div>
            <p>Live from Apple's iPhone OS 4 event! - Engadget <a href="#">http://goo.gl/eJVm</a></p>
            <h6>about 1 hour ago reply</h6>
        </div>
        <div>
            <p>Live from Apple's iPhone OS 4 event! - Engadget <a href="#">http://goo.gl/eJVm</a></p>
            <h6>about 1 hour ago reply</h6>
        </div>
        <div>
            <p>Live from Apple's iPhone OS 4 event! - Engadget <a href="#">http://goo.gl/eJVm</a></p>
            <h6>about 1 hour ago reply</h6>
        </div>
        <a href="#" class="social-button pull-right">@ViewsRes.LinkSend</a>
    </div>
    <div class="social-rss">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        <p>Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
        <p>Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt</p>
        <a href="#" class="social-button pull-right">@ViewsRes.LinkSend</a>
    </div>
</div>